body
{
    display: flex;
    flex-direction: column;
    background-color: rgb(127, 172, 192);
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', cursive;
}

fieldset
{
    color: white;
    text-shadow:
            -0.5px -0.5px 0 black,
            0.5px -0.5px 0 black,
            -0.5px  0.5px 0 black,
            0.5px  0.5px 0 black;
    padding: 50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}

h1
{
    color: white;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    border: 2px solid white;
}

#submitStyle
{
    margin: 15px auto;
    text-align: center;
}

