body
{
    text-align: center;
    margin: 0;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', cursive;
}

h1
{
    font-family: 'Roboto', cursive;
    padding: 1% 2%;
    border-radius: 12px;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    margin: 0;
    color: white;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
}

#main   
{
    font-family: 'Roboto', cursive;
    padding: 1% 2%;
    border-radius: 10px;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    margin: 0;
    color: white;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
}

#wins
{
    color: green;
}

#losses
{
    color: red;
}

#guesses
{
    color: gray;
}

#guessNumber
{
    color: yellow
}

#matches
{
    color: black;
}