body
{
    display: flex;
    margin: 0;
    height: 100vh;
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', cursive;
}

.resultIcon 
{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
    display: none;
}

.questionStyle
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#congratulation
{
    display: none;
}

.mainWindow
{
    width: 600px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    text-align: center;
}